{% extends 'base.html' %}
{% set title='connect' %}
{% block title %}
{{ title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('connect.static', filename='css/connect.css') }}"/>
{% endblock %}

{% block content %}
<div id="homePageBody">
    <span>
        <h1 id="header3"> התחברות</h1>
    </span>

    <form id="connect_border" action="/connect" method="post" name="connect_form"
          onsubmit="return connect_validation(document.connect_form.pass,document.connect_form.name);">
        <label class="username">אימייל:</label>
        <input type="email" class="input" id="email" name="email" autocomplete="on" required>

        <label class="password">סיסמה:</label>
        <input type="text" class="input" id="pass" name="pass" minlength="2" autocomplete="on" required>

        <button type="submit" id="send_button" name="send_button">שלח</button>
        <a href="/contact" class="forgot_password">שכחתי סיסמה </a>
    </form>
    {% if message_for_user %}
        <h4>{{message_for_user }}</h4>
    {% endif %}
    <div id="footerProfile">
        {{super()}}
    </div>
</div>
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('connect.static', filename='js/connect.js') }}"></script>
{% endblock %}
