{% extends 'base.html' %}
{% set title='contact' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="homePageBody">
    <div>
        <h1 id="header3"> צור קשר</h1>
    </div>
    <div id="mainDiv">
        <span id="formInput">
            <form id="form" action="/contact" method="post" name="contact_form"
                onsubmit="return contact_validation(document.contact_form.email,document.contact_form.phoneNumber);">
                <ul>
                    <input class="listInputBox" type="text" placeholder="שם מלא *" id="fname" name="fname"
                        autocomplete="on" required /> <br> <br>
                    <input class="listInputBox" type="phone" placeholder="טלפון *" id="phoneNumber" autocomplete="on"
                        name="phoneNumber" required />
                    <br><br>
                    <input class="listInputBox" type="email" placeholder="אימייל *" id="email" name="email"
                        autocomplete="on" required /> <br> <br>
                    <div id="send">
                        <input type="checkbox" id="agreeDetails" name="agreeDetails" required>
                        <label for="agreeDetails">אני מאשר/ת בזאת קבלת חומר פרסומי שישלח אליי </label> <br><br>
                        <button type="submit" id="contact_submit_button">שליחה</button> <br><br>
                    </div>
                </ul>
            </form>
        </span>
        <p id="infoParagraph">
            פרטי התקשרות<br>
            פנה אלינו באמצעות טלפון או דוא"ל<br>
            HappyBuzz@gmail.com <br>
            בין השעות 9:00-19:00 <br>
            +972-501233212
        </p>
    </div>
    <div id="footerContact">
        {{ super() }}
    </div>
</div>
{% endblock %}
