/* ########### connect page settings ########### */
#connect_border {

    background-color: var(--orange1);
    border-radius: 5px;
    border-color: var(--orange6);
    border-style: solid;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    text-align: right;
    opacity: 65%;
    margin-top: 80px; /* distance from top */
    padding-right: 10px;

}

#footerProfile {
    padding-top: 200px;
}