{% extends 'base.html' %}
{% set title='Profile' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<span>
        <h1 id="BusinessName"> {{business.title}}</h1>
    </span>
<div id="business-card">
    <div id="title-1">
        <h2 id="title-1-1">שעות happy hour:</h2>
        <h2 id="title-1-2">מה שווה אצלנו?</h2>
    </div>
    <div id="details">
        <p id="open-hours">{{business.start_hour}}-{{business.end_hour}}</p>
        <ol id="drinks-sales">
            {% for deal in business.deals %}
            <li><p>{{deal}}</p></li>
            {% endfor %}
        </ol>
    </div>
    <div id="title-3">
        <h2 id="title-3-1">חברים מספרים:</h2>
    </div>
    <div id="stars">
        {% for i in range(0,5) %}
        ##{{business.stars}}##
            {% if i <  4 %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% endfor %}
    </div>
    <div id="reviews">
        <ol id="bussiness-reviews">
            <li><p>נהניתי מכל רגע. אוכל זול וקוקטלים פצצה!</p></li>
            <li><p>הערב הכי מהנה שהיה לי הרבה זמן. התפנקנו ולא כאב בכיס</p></li>
            <li><p>מנות גדולות ומעניינות</p></li>
        </ol>
    </div>

    <div id="title-4">
        <h2 id="title-4-1">רוצה לפרגן/ לעדכן:</h2>
    </div>
    <div id="title-5">
        <h2 id="title-5-1">דרג:</h2>
    </div>
    <form id="form-r" onsubmit="event.preventDefault(); submitReview(this);">
        <div id="freeTxt">
            <input id="write" type="text" name="write">
        </div>
        <div id="stars-2">
            <span id="star1" class="fa fa-star" onclick="blinkingStars(this.id);"></span>
            <span id="star2" class="fa fa-star" onclick="blinkingStars(this.id);"></span>
            <span id="star3" class="fa fa-star" onclick="blinkingStars(this.id);"></span>
            <span id="star4" class="fa fa-star" onclick="blinkingStars(this.id);"></span>
            <span id="star5" class="fa fa-star" onclick="blinkingStars(this.id);"></span>
        </div>
        <div id="submit-r">
            <input type="submit"/>
        </div>
    </form>
    <div id="order">
        <a
                href="{{business.url}}">הזמנת
            מקום
        </a>
    </div>

</div>
<div id="footerProfile">
    {{ super() }}
</div>
{% endblock %}