{% extends 'base.html' %}
{% set title='Reccomend' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="homePageBody">

    <span>
        <h1 id="header3">המלצות החודש</h1>
    </span>

    <div class="bars_images">
        <div class="link_size">
            <a href="/profile" id="link_size">
                <img src="../static/media/frida.png" class="frida">
            </a>
        </div>
        <a href="#">
            <img class="milba" src="../static/media/milba.png">
        </a>
        <a href="#">
            <img class="bbb" src="../static/media/bbb.png">
        </a>
    </div>

    <div id="footerReccomend">
        {{ super() }}
    </div>

</div>
{% endblock %}
