{% extends 'base.html' %}
{% set title='Recommend' %}
{% block title %}
{{ title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('month_reccomendation.static', filename='css/month_reccomendation.css') }}"/>
{% endblock %}

{% block content %}
<div id="homePageBody">

    <span>
        <h1 id="header3">המלצות החודש</h1>
    </span>

    <div class="bars_images">

        <div class="link_size">
            <a href="/profile/searchInput?searchInput={{businesses.first}}" id="link_size">
                <img src="../static/media/{{businesses.first}}.png" class="recommend1">
            </a>
        </div>
        <a href="/profile/searchInput?searchInput={{businesses.second}}">
            <img class="recommend2" src="../static/media/{{businesses.second}}.png">
        </a>
        <a href="/profile/searchInput?searchInput={{businesses.third}}">
            <img class="recommend3" src="../static/media/{{businesses.third}}.png">
        </a>

    </div>

    <div id="footerReccomend">
        {{ super() }}
    </div>

</div>
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('month_reccomendation.static', filename='js/month_reccomendation.js') }}"></script>
{% endblock %}
