{% extends 'base.html' %}
{% set title='businesses' %}
{% block title %}
{{ title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('businesses.static', filename='css/businesses.css') }}"/>
{% endblock %}

{% block content %}
<div id="homePageBody">
    <span>
        <h1 id="header3">בתי עסק בב"ש</h1>
    </span>

    <div id="container">

        <a href="/profile/searchInput?searchInput=פרידה">
            <img class="businesses_img1 img-size" src="../static/media/frida.png" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)" >
        </a>
        <a href="/profile/searchInput?searchInput=מילבה">
            <img class="businesses_img2 img-size" src="../static/media/milba.png" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=אוללה">
            <img class="businesses_img3 img-size" src="../static/media/OHLALA.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=בנגי">
            <img class="businesses_img4 img-size" src="../static/media/bengi.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=ברשוק">
            <img class="businesses_img5 img-size" src="../static/media/barshuk.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=מנגה">
            <img class="businesses_img6 img-size" src="../static/media/manga.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=פולה">
            <img class="businesses_img7 img-size" src="../static/media/pola.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=רוסטרס">
            <img class="businesses_img8 img-size" src="../static/media/roasters.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="/profile/searchInput?searchInput=רוזה">
            <img class="businesses_img9 img-size" src="../static/media/rozza.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>

    </div>
    <div id="footerBusinesses">
        {{ super() }}
    </div>
</div>
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('businesses.static', filename='js/businesses.js') }}"></script>
{% endblock %}





