{% extends 'base.html' %}
{% set title='businesses' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="homePageBody">
    <span>
        <h1 id="header3">בתי עסק בב"ש</h1>
    </span>

    <div id="container">

        <a href="/profile">
            <img class="businessses_img1 img-size" src="../static/media/frida.png" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img2 img-size" src="../static/media/milba.png" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img3 img-size" src="../static/media/bbb.png" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img4 img-size" src="../static/media/bengi.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img5 img-size" src="../static/media/barshuk.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img6 img-size" src="../static/media/manga.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img7 img-size" src="../static/media/pola.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img8 img-size" src="../static/media/roasters.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>
        <a href="#">
            <img class="businessses_img9 img-size" src="../static/media/rozza.jpg" alt=""
                 onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        </a>

    </div>
    <div id="footerBusinesses">
        {{ super() }}
    </div>
</div>
{% endblock %}





