{% extends 'base.html' %}
{% set title='sign up' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="homePageBody">
    <span>
        <h1 id="header3">הרשמה</h1>
    </span>
    <form id="sign_up_border" action="../templates/homeHTML.html" method="post" name="sign_up_form" onsubmit="return signup_validation(document.sign_up_form.password1,document.sign_up_form.username2,document.sign_up_form.mail2,document.sign_up_form.phone1,document.sign_up_form.age_label1);">

        <label class="username">שם משתמש:</label>
        <input type="text" class="big_input" id="username2" name="username2" autocomplete="on" required>

        <label class="mail" >מייל:</label>
        <input type="email" class="big_input" id="mail2" name="mail2" autocomplete="on" required>

        <label class="password">סיסמה:</label>
        <input type="password" class="big_input" id="password1" name="password1"  autocomplete="on" required>

        
        <label class="phone">טלפון:</label>
        <input type="phone" class="big_input" id="phone1" name="phone1"  autocomplete="on" required >

        <section class="lower_inputs">  
            <div class="age">  
                <label class="age_label">גיל:</label>
                <input type="number" class="small_input" id="age_label1" min="0" name="age_label1" autocomplete="on" required>
            </div> 
            <div class="gender">  
                <label class="gender_label">מין:</label>
                <select class="small_input"  id="gender_label1" name="gender_label1" required>
                    <option value="זכר">זכר</option>
                    <option value="נקבה">נקבה</option>
                    <option value="אחר">אחר</option>
                  </select>
            </div>
        </section>
        <button id="sign_up_send_button" type="submit">שלח</button>
    </form>


    <div id="footerSignUp">
        <footer class="footer1"> 
            <p>
                עקבו אחרינו ברשתות החברתיות
            </p>
            <img class="icon2" src="../static/media/instagram.png">
            <img class="icon2" src="../static/media/twitter.png">
            <img class="icon2" src="../static/media/whatsapp (1).png">
        </footer> 
    </div>
</div>
{% endblock %}