{% extends 'base.html' %}
{% set title='sign up' %}
{% block title %}
{{ title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('sign_up.static', filename='css/sign_up.css') }}"/>
{% endblock %}

{% block content %}
<div id="homePageBody">
    <span>
        <h1 id="header3">הרשמה</h1>
    </span>
    <form id="sign_up_border" action="/sign_up" method="post" name="sign_up_form" onsubmit="return signup_validation(document.sign_up_form.password1,document.sign_up_form.username2,document.sign_up_form.mail2,document.sign_up_form.phone1,document.sign_up_form.age_label1);">

        <label class="username">שם משתמש:<h6> אנגלית בלבד, מעל 6 תווים</h6></label>
        <input type="text" class="big_input" id="username2" name="username2" autocomplete="on" required>

        <label class="mail" >מייל:</label>
        <input type="email" class="big_input" id="mail2" name="mail2" autocomplete="on" required>

        <label class="password">סיסמה:<h6>חייב לכלול אותיות קטנות וגדולות באנגלית</h6></label>
        <input type="password" class="big_input" id="password1" name="password1"  autocomplete="on" required>

        
        <label class="phone">טלפון:<h6>חייב להכיל 10 ספרות בדיוק</h6></label>
        <input type="phone" class="big_input" id="phone1" name="phone1"  autocomplete="on" required >

        <section class="lower_inputs">  
            <div class="age">  
                <label class="age_label"> גיל:<h6>הרשמה מגיל 18 בלבד :)</h6></label>
                <input type="number" class="small_input" id="age_label1" min="0" name="age_label1" autocomplete="on" required>
            </div> 
            <div class="gender">  
                <label class="gender_label">מין:</label>
                <select class="small_input"  id="gender_label1" name="gender_label1" required>
                    <option value="זכר">זכר</option>
                    <option value="נקבה">נקבה</option>
                    <option value="אחר">אחר</option>
                  </select>
            </div>
        </section>
        <button id="sign_up_send_button" type="submit">שלח</button>
    </form>
    {% if message_for_user %}
        <h4>{{message_for_user }}</h4>
    {% endif %}

    <div id="footerSignUp">
        {{ super() }}
    </div>
</div>
{% endblock %}

{% block page_js %}
    <script src="{{ url_for('sign_up.static', filename='js/sign_up.js') }}"></script>
{% endblock %}