{% extends 'base.html' %}
{% set title='preview' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div id="preBody">
    <span>
    <h1 id="header2"> Cheers</h1>
    </span>

    <div id="center">
        <button onclick="window.location.href='/connect'" class="connect_button">התחברות</button>
        <button onclick="window.location.href='/sign_up'" class="sign_up_button">הרשמה</button>
        <div id="glass">
            <div class="ear"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="foam"></div>
            <div class="shine"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
    </div>
    <div id="footerPre">
        {{ super() }}
    </div>
</div>
{% endblock %}