<span class="headerLeft">
        <header class="header">
            <a href="templates/preview.html">
                <img class="icon" src="static/media/log_in.png">
            </a>
        </header>
    </span>
<span>
        <img class="logo_image" src="static/media/logo_small (1).png">
    </span>
<nav class="nav">
    <ul class="nav-list">
        <li class="list-item"><a href="../templates/contactHTML.html">צור קשר</a></li>
        <li class="list-item"><a href="../templates/month_reccomendation.html">המלצות</a></li>
        <li class="list-item"><a href="../templates/businesses.html">בתי עסק בב"ש</a></li>
        <li class="list-item"><a href="../templates/homeHTML.html">דף הבית</a></li>
    </ul>
</nav>