
  
  :root{
    --orange1: #fff7e6;
    --orange2: #ffefcc;
    --orange3: #ffe7b3;
    --orange4: #ffdf99;
    --orange5: #ffd780;
    --orange10: #f1cca6;
    --orange6: #ffcf66;
    --orange7:#ffae00;
    --orange8: #cc8b00;
    --orange9:#805700;
    --black:#0c0900;
    --ligthGray:#fefefe;
    --white:color white;
    --grayLigth:color #d3d3d3;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:PageFont;
}



.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--orange7);
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: var(--orange7);
}


.active {
  border: 2px solid var(--orange7);
  border-radius: 5px;
  }

.nav{
  background-color: var(--orange5);
  color: var(--black);
  display: flex;
  padding-right: 0px;
  right: 0px;
  font-size: 20px;
  text-align: right;
  height: 60px;
  padding-top: 4px;
}

.nav-list {
  list-style-type: none;
  padding-right: 0px;
} 

.nav-list .list-item {
  display: inline-block;
  padding: 10px;
}

.nav a {
  color:var(--black);
}

.nav a:hover {
  color:var(--orange3);
} 

.login_image{
  padding-top: 5px;
  width: 80px;
  height: 60px;
  float: left;
  padding-right: 650px;
}

.header{
    width: 50px;
}
.logo_image{
  background-color: var(--orange5);
  float: right;
  width: 80px;
  height: 60px;
  padding-top: 0px;
  image-rendering: -webkit-optimize-contrast;
}

.InputBox{
  width: 170px;
}
#search{
  width: 35px;
  font-size: 15px;
}

#searchInput{
  font-size: 15px;
}

#combo{
  width: 250px;
  height: 30px;
  font-size: 20px;
  font-weight: bolder;
  background-color: var(--orange2);
  border-radius: 5px;
}

#combo-div{
padding-top: 50px;
width: 250px;
}

#combo_box{
    padding-top: 100px;
    width: 250px;
margin: 0 auto;
}

#header2{
    font-size: 100px;
    display: inline;
    color: var(--orange7);
    font-family:HeaderFont;
}

#footer1{
    padding-top: 400px;
    text-align: center;
}

#homePageBody {
    background-image: url("../static/backround_image.png");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}


.icon2 {
    height: 20px;
}




@font-face {
    font-family: FirstFont;
    src: url(../static/ganclm_bold-webfont.ttf);
}
@font-face {
    font-family: HeaderFont;
    src: url(../static/Panipuri.ttf);
}
@font-face {
  font-family: PageFont;
  src: url(../static/MPLUS1p-Medium.ttf);
}


