<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="../static/projectCSS.css">
    <script defer src="../static/projectJS.js"></script>
</head>
<body id="preBody">
    <span class="headerLeft">
        <header class="header">
            <a href="../templates/preview.html">
                <img class="icon" src="../static/log_in.png">
            </a>
        </header>

    </span>
    <span>
        <img class="logo_image" src="../static/logo_small (1).png">
    </span>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="../templates/contactHTML.html">צור קשר</a></li>
            <li class="list-item"><a href="../templates/month_reccomendation.html">המלצות</a></li>
            <li class="list-item"><a href="../templates/businesses.html">בתי עסק בב"ש</a></li>
            <li class="list-item"><a href="../templates/homeHTML.html">דף הבית</a></li>
        </ul>
    </nav>
 <span>
    <h1 id="header2"> Cheers</h1>
 </span>
 
<div id="center"> <button onclick="window.location.href='../templates/connect.html'" class="connect_button">התחברות</button>
 <button onclick="window.location.href='../templates/sign_up.html'" class="sign_up_button">הרשמה</button>
 <div id="glass">
    <div class="ear"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="foam"></div>
    <div class="shine"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</div>
</div>
<div id="footerPre">
    <footer class="footer1"> 
        <p>
            עקבו אחרינו ברשתות החברתיות
        </p>
        <img class="icon2" src="../static/instagram.png">
        <img class="icon2" src="../static/twitter.png">
        <img class="icon2" src="../static/whatsapp (1).png">
    </footer> 
</div>

</body>
</html>