<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="projectCSS.css">
    <script defer src="projectJS.js"></script>
</head>
<body id="homePageBody">
    <header class="header">
        <img class="logo_image" src="../static/logo_small (1).png">
    </header>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="#">צור קשר</a></li>
            <li class="list-item"><a href="#">המלצות</a></li>
            <li class="list-item"><a href="#">בתי עסק בב"ש</a></li>
            <li class="list-item"><a href="../templates/projectHTML.html">דף הבית</a></li>
        </ul>
    </nav>
 <span>
    <h1 id="header2"> Cheers</h1>
 </span>

 <button onclick="window.location.href='../templates/connect.html'" class="connect_button">התחברות</button>
 <button onclick="window.location.href='../templates/sign_up.html'" class="sign_up_button">הרשמה</button>


     <footer id="footer1"> 
        <p>
            עקבו אחרינו ברשתות החברתיות
        </p>
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
        
     </footer>
</body>
</html>