:root {
    --orange1: #fff7e6;
    --orange2: #ffefcc;
    --orange3: #ffe7b3;
    --orange4: #ffdf99;
    --orange5: #ffd780;
    --orange10: #f1cca6;
    --orange6: #ffcf66;
    --orange7: #ffae00;
    --orange8: #cc8b00;
    --orange9: #805700;
    --black: #0c0900;
    --ligthGray: #fefefe;
    --white: color white;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: PageFont;
}

.active {
    border: 2px solid var(--orange7);
    border-radius: 5px;
}

.nav {
    background-color: var(--orange5);
    color: var(--black);
    display: flex;
    padding-right: 0px;
    right: 0px;
    font-size: 20px;
    text-align: right;
    height: 60px;
    padding-top: 4px;
}

.nav-list {
    list-style-type: none;
    padding-right: 0px;
}

.nav-list .list-item {
    display: inline-block;
    padding: 10px;
}

.nav a {
    color: var(--black);
}

.nav a:hover {
    color: var(--orange3);
}

.login_image {
    padding-top: 5px;
    width: 80px;
    height: 60px;
    float: left;
    padding-right: 650px;
}

.header {
    width: 50px;
}

.logo_image {
    background-color: var(--orange5);
    ;
    float: right;
    width: 80px;
    height: 60px;
    padding-top: 0px;
    image-rendering: -webkit-optimize-contrast;
}

#header2 {
    font-size: 100px;
    display: inline;
    color: var(--orange7);
    font-family: HeaderFont;
}

#footer1 {
    padding-top: 400px;
    text-align: center;
}

#homePageBody {
    background-image: url("../static/backround_image.png");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}


.icon2 {
    height: 20px;
}

.divRecommend{
    margin: 0 auto;
}
#recommend{
    margin-bottom: 30px;
}
.recommend-border {
    text-align: right;
    list-style-position: inside;
    margin: 0 auto;
    background-color: #f1cca6;
    border-style: solid;

    border-radius: 10px;
    width: 270px;
    height: 200px;
    opacity: 80%;

}

@font-face {
    font-family: FirstFont;
    src: url(../static/ganclm_bold-webfont.ttf);
}

@font-face {
    font-family: HeaderFont;
    src: url(../static/Panipuri.ttf);
}

@font-face {
    font-family: PageFont;
    src: url(../static/MPLUS1p-Medium.ttf);
}