<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="projectCSS.css">
    <script defer src="projectJS.js"></script>
</head>
<body id="homePageBody">
    <header class="header">
        <img class="logo_image" src="../static/logo_small (1).png">
    </header>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="#">צור קשר</a></li>
            <li class="list-item"><a href="#">המלצות</a></li>
            <li class="list-item"><a href="#">בתי עסק בב"ש</a></li>
            <li class="list-item"><a href="../templates/projectHTML.html">דף הבית</a></li>
        </ul>
    </nav>
    <span>
        <h1 id="header2">הרשמה</h1>
    </span>
    <form id="sign_up_border" action="URL" method="post" onsubmit="alert('ההרשמה בוצעה בהצלחה');">

        <label class="username">שם משתמש:</label>
        <input type="text" class="big_input" required>

        <label class="mail" >מייל:</label>
        <input type="text" class="big_input" required>

        <label class="password">סיסמה:</label>
        <input type="password" class="big_input" required>

        
        <label class="phone">טלפון:</label>
        <input type="tel" class="big_input"required >

        <section class="lower_inputs">  
            <div class="age">  
                <label class="age_label">גיל:</label>
                <input type="number" class="small_input" required>
            </div> 
            <div class="gender">  
                <label class="gender_label">מין:</label>
                <input type="text" class="small_input">
            </div>
        </section>

        <button onclick="window.location.href='../templates/projectHTML.html'" id="sign_up_send_button">שלח</button>
    </form>


     <footer id="footer1"> 
        <p>
            עקבו אחרינו ברשתות החברתיות
        </p>
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
        
     </footer>
</body>
</html>