{% extends 'base.html' %}
{% set title='home' %}
{% block title %}
{{ title }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}"/>
{% endblock %}

{% block content %}
<div id="homePageBody">

    <h1 id="header2"> Cheers</h1>
    <div id="combo_box">
        <select name="combo" id="combo" onChange="comboFunction(this)">
            <option value="" selected disabled hidden>בחר אופן שימוש</option>
            <option value="בית עסק לפי מיקום"> בית עסק לפי מיקום</option>
            <option value="בית עסק להמשך היום"> בית עסק לחיפוש עתידי</option>
            <option value="בית עסק ספציפי">בית עסק ספציפי</option>
        </select><br>
        <div id="combo-div"></div>
        {% if MSG %}
            <h4 id="msg_for_user">{{MSG}}</h4>
        {% endif %}
    </div>
    <div class="footer1-home">
        {{ super() }}
    </div>
</div>

{% endblock %}

{% block page_js %}
    <script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}





